@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.calc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: cyan; */
}

.calculator {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  min-width: 540px;
  /* background-color: magenta; */
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}

.input-container {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.entry, .display {
  margin: 0 1rem;
  height: 2rem;
  width: 7rem;
  border: 3px solid #d6d6d6;
  border-radius: 10px;
  padding: 0 0.5rem; 
}

.entry {
  letter-spacing: 1px;
}

#operation, #equals-btn {
  height: 2rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border: 3px solid #d6d6d6;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
}

#operation:focus, #operation:hover {
  cursor: pointer;
}

#operation:focus, #equals-btn:focus, 
.entry:focus, .display:focus {
outline: none;
}

#equals-btn {
  background-color: #d6d6d6;
}

#equals-btn:hover {
  cursor: pointer;
  background-color: #eeee;
}